html
  background-color $gray-light

body
  max-width $max-width
  min-height 100vh
  margin-left auto
  margin-right auto

  background-color $bg-color-0

  font-family $font-face-1, Helvetica, Arial, sans-serif
  color $text-color-1
  font-size $text-size
  line-height 1.2
  -webkit-font-smoothing antialiased

a, button, input, select, textarea
  &:focus
    outline 0
