$clearfix
  &:before, &:after
    display: table
    content: ''
  &:after
    clear: both

//Structure mixins
grid($column)
  width: grid_space($column)

offset($column)
  margin-left: offset_space($column)

grid_space($column)
  $column * 100 / $grid-columns * 1%

grid_width($column)
  $column * 100 / $grid-columns * 1%

offset_space($column)
  $column * 100 / $grid-columns * 1%

// Hidden
hidden()
  display: none !important
  visibility: hidden
