$min-width = 360px
$max-width = 1500px

// Screens
$screen-sm = 540px
$screen-md = 960px
$screen-lg = 1200px

// Margins
$large-margin = 40px
$medium-margin = 20px
$small-margin = 10px

// Font-sizes
$text-size = 16px
$text-extra-large = 90px
$text-large = 50px
$text-ultra-large = 130px
$text-medium = 36px
$text-micro = 13px

// Grid
$grid-columns = 14
$grid-gutter-width = 1%
$grid-padding = 0

// Colors
$white = #fff
$gray-dark = #222
$gray-medium = #EAE9E6
$gray-light = #F9F9F9
$aquamarine = #64D1B8

// Theme
$bg-color-0 = $white
$bg-color-1 = $gray-dark
$bg-color-2 = $aquamarine

$bg-color-3 = $gray-medium
$bg-color-4 = $gray-light

$text-color-0 = $white
$text-color-1 = $gray-dark
$text-color-2 = $aquamarine
