clearfix()
  &:after, &:before
    content ''
    display table
  &:after
    clear both

rem($px, $base = 16px)
  unit($px / $base, 'rem')

hidden()
  display none !important
  visibility hidden

//Structure mixins
grid_space($column)
  $column * 100 / $grid-columns * 1%

grid($column)
  width grid_space($column)

offset($column)
  margin-left grid_space($column)
