// Sizes
$min-width = 20rem
$max-width = 94rem
$margin = 1.25rem

// Screens
$screen-sm = 40rem
$screen-md = 64rem
$screen-lg = 90rem
$screen-xl = 99999999rem

// Grid
$grid-columns = 14
$grid-gutter-width = 1%
$grid-padding = 0

// Font
$base-font-size = 16px

$font-xlarge-size = 3rem
$font-large-size = 2.25rem
$font-medium-size = 1.5rem
$font-normal-size = 1rem
$font-small-size = 0.8rem

$lg-font-xlarge-size = 8.125rem
$lg-font-large-size = 5rem
$lg-font-medium-size = 1.875rem
$lg-font-normal-size = 1rem
$lg-font-small-size = 0.8rem

$line-height = 1.2

// Colors
$white = #fff
$alto = #d8d8d8
$silver = #ccc
$mineshaft = #222
$malachite = #16C49C

$bg-color-1 = $white
$bg-color-2 = $mineshaft
$bg-color-3 = $malachite
$bg-color-4 = $silver
$bg-color-5 = $alto

$font-color-1 = $mineshaft
$font-color-2 = $white
$font-color-3 = $malachite
