// Sizes
$min-width = 20rem
$max-width = 94rem
$margin = 1.25rem

// Screens
$screen-sm = 40rem
$screen-md = 47.5rem
$screen-lg = 75rem
$screen-xl = 99999999rem

// Grid
$grid-columns = 14
$grid-gutter-width = 1%
$grid-padding = 0

// Font
$font-base-size = 16px

$font-xlarge-size = 3rem
$font-large-size = 2.25rem
$font-medium-size = 1.5rem
$font-normal-size = 1rem
$font-small-size = 0.8rem

$lg-font-xlarge-size = 8.125rem
$lg-font-large-size = 5rem
$lg-font-medium-size = 1.875rem
$lg-font-normal-size = 1.125rem
$lg-font-small-size = 0.8rem

$line-height = 1.4

// Colors
$white = #fff
$alto = #d8d8d8
$wildsand = #f7f7f7
$silver = #ccc
$mineshaft = #222
$malachite = #16C49C
$feijoa = #64D1B8

$bg-color-1 = $white
$bg-color-2 = $mineshaft
$bg-color-3 = $malachite
$bg-color-4 = $silver
$bg-color-5 = $wildsand
$bg-color-6 = $feijoa

$font-color-1 = $mineshaft
$font-color-2 = $white
$font-color-3 = $malachite
