// Sizes
$min-width = 20rem
$max-width = 110rem
$margin = 1.25rem

// Screens
$screen-sm = 40rem
$screen-md = 47.5rem
$screen-lg = 70rem
$screen-xl = 91rem

// Grid
$grid-columns = 14
$grid-gutter-width = 1%
$grid-padding = 0

// Font
$font-base-size = 16px

$font-xlarge-size = 3rem
$font-large-size = 2.25rem
$font-medium-size = 1.5rem
$font-normal-size = 1.25rem
$font-small-size = 0.85rem

$lg-font-xlarge-size = 7.7rem
$lg-font-large-size = 5rem
$lg-font-medium-size = 1.875rem
$lg-font-normal-size = 1.125rem
$lg-font-small-size = 0.85rem

$line-height = 1.25

// Colors
$white = #fff
$alto = #d8d8d8
$wildsand = #f7f7f7
$silver = #ccc
$mineshaft = #222
$malachite = #16C49C
$feijoa = #64D1B8
$flamingo = #EF4646

$bg-color-1 = $white
$bg-color-2 = $mineshaft
$bg-color-3 = $feijoa
$bg-color-4 = $silver
$bg-color-5 = $wildsand
$bg-color-6 = $malachite
$bg-color-7 = $flamingo

$font-color-1 = $mineshaft
$font-color-2 = $white
$font-color-3 = $feijoa
$font-color-4 = $flamingo
