.is-hidden
  hidden()
  
.is-modal-open
  overflow hidden

@media screen and (max-width: $screen-sm)
  .is-sm-hidden
    hidden()

@media screen and (min-width: $screen-sm) and (max-width: $screen-md)
  .is-md-hidden
    hidden()

@media screen and (min-width: $screen-md)
  .is-lg-hidden
    hidden()
