.l-header
  padding-top: $large-margin
  padding-bottom: $medium-margin
  padding-left: $medium-margin
  padding-right: $medium-margin

  h1
    margin: 0
    float: left

  a
    text-decoration: none

  &, a
    color: $text-color-2

  @media screen and (min-width: $screen-sm)
    padding-left: 0
    padding-right: 0

.l-main
  margin: 0

.l-footer
  padding: 20px 0
  background-color: $bg-color-1

  a
    text-decoration: none

  &, a
    color: $text-color-0

  .footer-logo
    display: block
    margin: 10px auto
    text-align: center

    @media screen and (min-width: $screen-sm)
      text-align: left

  @media screen and (min-width: $screen-sm)
    padding-top: 40px
    padding-bottom: 40px

.l-map
  width: 100%
