.l-header

  .l-header-top
    padding $margin $margin $margin
    background-color transparent
    z-index 25
    transition color 2 ease
    @media (min-width: 850px) {
      padding ($margin * 2) $margin $margin
    }

    .is-project-detail-page &
      background-color transparent

  &.is-fixed
    padding-top rem(90px)

    .l-header-top
      position fixed
      top -130px
      width 100%
      max-width $max-width
      padding ($margin * 2) $margin ($margin * 2)

      background-color $bg-color-1
      transition transform .5s ease

      .is-project-detail-page &
        background-color rgba($bg-color-1, 1)
        color $font-color-3
        a
          color $font-color-3
          border-color $font-color-3
        #vizzualityPath
          fill $font-color-3

        .btn-burguer
          .icon-burguer, .icon-burguer:before, .icon-burguer:after
            background-color #000

      &.show
        transform translateY(130px)

      &.hide
        transform translateY(0)



  .brand
    margin 0
    float left
    line-height rem(30px)
    font-size 1rem

    a, svg
      display block

    #vizzualityPath
      fill $font-color-3

    #blogPath
      fill $font-color-1
  a
    text-decoration none

  &, a
    color $font-color-1

  .btn-burguer
    position absolute
    top rem(-10px)
    right 0

  .is-member-page .m-claim
    min-height 0

  @media screen and (min-width: $screen-sm)
    h1.brand
      font-size 1rem

.l-footer
  padding $margin 0
  background-color $bg-color-2

  a
    text-decoration none

  &, a
    color $font-color-2

  .footer-logo
    display block
    margin $margin auto
    text-align center

    svg
      display block
      margin 0 auto

    #vizzualityPath
      fill $font-color-2

  @media screen and (min-width: $screen-sm)
    padding $margin ($margin / 2)

    .footer-logo
      display inline-block
      text-align left
      margin ($margin * 2) auto


h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes hideHeader
  from
    transform translate(0, 0)

  to
    transform translate(0, -90px)

@keyframes showHeader
  from
    transform translate(0, -0)

  to
    transform translate(0, -90px)

