.row
  width 100%
  margin 0 auto
  overflow hidden
  clearfix()

  .row
    width auto
    max-width none
    // margin 0 ($grid-gutter-width * -1)

  &.collapse
    padding 0

  &.sameheight
    display flex
    align-items stretch

    .is-grid-centered
      display flex
      align-items center
      justify-content center

    @media screen and (max-width: $screen-sm)
      flex-wrap wrap

$grid
  float left
  position relative
  min-height 1px
  width 100%

  .row.uncollapse &
    // margin 0 (grid-gutter-width * -1)
    padding 0 $grid-gutter-width

for $column in 1..$grid-columns
  .grid-sm-{$column},
  .grid-md-{$column},
  .grid-lg-{$column}
    @extend $grid

@media screen and (min-width: $screen-sm) and (max-width: $screen-md)
  for $column in 1..$grid-columns
    .grid-sm-{$column}
      grid($column)
    .offset-sm-{$column}
      offset($column)

@media screen and (min-width: $screen-md) and (max-width: $screen-lg)
  for $column in 1..$grid-columns
    .grid-md-{$column}
      grid($column)
    .offset-md-{$column}
      offset($column)

@media screen and (min-width: $screen-lg)
  for $column in 1..$grid-columns
    .grid-lg-{$column}
      grid($column)
    .offset-lg-{$column}
      offset($column)
