<svg class="is-hidden">
  <symbol id="icon-logo-vizzuality" viewBox="0 0 4161 1024">
    <title>Logo Vizzuality</title>
    <path d="M268.816 647.566l-122.013-404.584h-144.495l189.447 584.397h147.704l192.662-584.397h-144.495l-118.81 404.584z" class="path1"></path>
    <path d="M538.539 242.982h138.070v584.397h-138.070v-584.397z" class="path2"></path>
    <path d="M538.539 11.792h138.070v141.279h-138.070v-141.279z" class="path3"></path>
    <path d="M740.835 368.21h285.774l-317.884 353.208v105.961h500.912v-125.228h-305.048l305.048-349.999v-109.17h-468.803v125.228z" class="path4"></path>
    <path d="M1241.747 368.21h282.565l-314.675 353.208v105.961h504.121v-125.228h-311.466l311.466-349.999v-109.17h-472.012v125.228z" class="path5"></path>
    <path d="M2140.819 506.28c0 44.952 0 99.543-22.476 141.286-9.633 22.476-44.958 64.218-112.386 64.218-99.543 0-112.386-73.852-112.386-131.652v-337.15h-141.279v369.26c0 51.376 3.209 105.961 35.318 154.128 25.685 35.318 70.643 77.061 170.18 77.061 102.752 0 160.553-44.952 186.238-73.852v61.010h141.286v-584.397h-141.286v260.089h-3.209z" class="path6"></path>
    <path d="M2834.393 393.894c0-102.752-73.852-166.971-244.038-166.971-244.032 0-253.665 147.704-253.665 186.238l141.279 6.424c0-32.109 9.633-86.701 115.595-86.701 86.701 0 99.543 41.743 99.543 86.701-38.534 12.842-93.119 28.894-179.813 41.743-109.177 22.476-208.713 70.643-208.713 199.080 0 99.537 77.061 179.813 211.922 179.813 70.643 0 134.861-28.9 173.395-61.010l3.209 44.958h166.971c-25.685-38.534-25.685-48.167-25.685-96.334v-333.941zM2689.898 615.45c0 73.858-77.067 105.968-144.495 105.968-70.643 0-96.328-32.109-96.328-70.643 0-61.010 64.218-70.643 128.437-80.276 51.376-6.424 86.694-22.476 109.17-32.109v77.061h3.215z" class="path7"></path>
    <path d="M2898.611 5.368h141.279v825.22h-141.279v-825.22z" class="path8"></path>
    <path d="M3113.743 11.792h138.070v141.279h-138.070v-141.279z" class="path9"></path>
    <path d="M3935.754 242.982l-109.177 433.478-131.646-433.478h-221.556v-208.713h-141.286v208.713h-221.556v584.397h138.070v-484.861h83.485v346.79c0 96.328 38.534 141.279 166.971 141.279 48.167 0 80.276-6.424 99.537-9.633v-118.804c-16.051 3.209-38.527 6.418-61.010 6.418-6.418 0-35.318 0-51.376-16.051-12.842-12.842-12.842-38.534-12.842-61.010v-288.99h102.752l176.604 494.494c-3.209 12.842-16.058 61.010-96.328 61.010-9.633 0-25.691 0-38.534-3.215v118.81c22.476 3.209 38.534 6.418 80.276 6.418 44.952 0 80.27-6.418 118.804-35.318 48.167-38.534 77.067-144.495 99.543-215.138l160.546-526.597h-141.279z" class="path10"></path>
    <path d="M4003.181 670.042h154.128v160.546h-154.128v-160.546z" class="path11"></path>
  </symbol>
</svg>
