<section class="m-message">
  <div class="row">
    <div class="grid-sm-14 grid-lg-12 offset-lg-1">
      <p>Get in touch.</p>
      <%= link_to 'Contact us', '/about#contact', class: 'btn' %>
    </div>
  </div>
</section>
