extends ../layout.jade

block claim
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      .m-claim
        article
          p
            | Important work,
            br
            | beautifully crafted

block main
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      for project in projects
        article.m-project(style="background-image: url(#{project.image})")
          a(href="/projects/#{project.slug}")
            h1= project.title
            p= project.summary

