.btn, .btn-secondary
  width 100%
  display block
  padding ($margin / 2) 0

  border 0

  background-color $bg-color-3

  font-size $font-small-size
  font-weight 500
  color $font-color-2
  text-align center
  text-decoration none
  text-transform uppercase

  @media screen and (min-width: $screen-sm)
    max-width rem(290px)
    margin auto

.btn-secondary
  border 1px solid $font-color-2
  text-align center
  background-color transparent
  color $font-color-2

.btn-burguer
  width rem(50px)
  height rem(50px)
  padding 0
  border 0

  background none

.btn-close
  width rem(50px)
  height rem(50px)
  padding 0
  border 0

  background none

  font-size rem(30px)
  font-weight 500
