.btn, .btn-secondary
  display inline-block
  padding ($margin / 1.5) rem(30px)

  border 1px solid $font-color-3

  background-color $bg-color-3

  font-size $font-small-size
  font-weight 500
  letter-spacing 0.15em
  color $font-color-2
  text-align center
  text-decoration none
  text-transform uppercase

  transition background-color .2s ease

  &:hover
    background-color $bg-color-6

  @media screen and (min-width: $screen-sm)
    width auto
    margin-left auto
    margin-right auto

.btn-secondary
  border 1px solid $font-color-2
  text-align center
  background-color $bg-color-1
  color $font-color-3
  margin-top $margin

  &:hover
    color $font-color-2

.btn-burguer
  width rem(50px)
  height rem(50px)
  padding 0
  border 0

  background none

.btn-close
  width rem(50px)
  height rem(50px)
  padding 0
  border 0

  background none

  font-size rem(30px)
  font-weight 500
