.btn, .btn-secondary
  display inline-block
  padding ($margin / 2) rem(40px)

  border 0

  background-color $bg-color-3

  font-size $font-small-size
  font-weight 500
  color $font-color-2
  text-align center
  text-decoration none
  text-transform uppercase

  @media screen and (min-width: $screen-sm)
    width auto
    // max-width rem(250px)
    // min-width rem(100px)
    margin-left auto
    margin-right auto

.btn-secondary
  border 1px solid $font-color-2
  text-align center
  background-color $bg-color-1
  color $font-color-3

.btn-burguer
  width rem(50px)
  height rem(50px)
  padding 0
  border 0

  background none

.btn-close
  width rem(50px)
  height rem(50px)
  padding 0
  border 0

  background none

  font-size rem(30px)
  font-weight 500
