.m-clients
  padding ($margin * 2) 0
  background-color $bg-color-5

  ul
    display flex
    flex-wrap wrap
    margin 0
    padding 0
    list-style none

  li
    position relative
    display flex
    align-items center
    justify-content center
    flex-direction column
    width 33%
    height 110px
    margin rem(20px) 0
    background-color white

    &:after
      position absolute
      display block
      width 100%
      height 100%
      top 0
      left 0

      background-color rgba(0, 0, 0, 0.035)

      content ''
      z-index 2

    img
      object-fit contain
      opacity .5
      filter saturate(0)

  @media screen and (min-width: 0) and (max-width: $screen-sm)
    li
      width 50%

  @media screen and (min-width: $screen-md)
    li
      width 25%
