.m-claim
  display flex
  align-items center
  min-height 85vh
  font-size $font-xlarge-size
  font-weight 500

  article
    margin rem(-43px) auto 0 auto

  p
    margin 0
    line-height .9

  @media screen and (min-width: $screen-md)
    font-size $lg-font-xlarge-size
