.m-claim
  display flex
  height 90vh
  align-items start
  padding 0 $margin
  font-size $font-xlarge-size
  font-weight 500
  @media screen and (min-width: $screen-md)
    align-items center

  article
    width 100%
    margin rem(-43px) auto 0 auto

  p
    margin-bottom .25em
    line-height .9
    letter-spacing -0.02em
    max-width 80%
    &.description
      margin-bottom .75em
      line-height 1.1
      font-size rem(22px)
      @media screen and (max-width: $screen-sm)
        font-weight 300

  .btn
    color $font-color-2

  .btn-secondary
    color $font-color-3
    transition: opacity .5s ease;
    margin 0 $margin 0 0
    @media (max-width: $screen-md)
      display none
      opacity: 0
      &.is-visible
        display inline-block
        opacity 1

    &:hover
      color $font-color-2

  @media screen and (min-width: $screen-md)
    font-size rem(110px)
    height 95vh

  @media screen and (min-width: $screen-lg)
    padding 0
