.m-contact
  padding ($margin * 2) $margin

  .form-row
    margin $margin 0

  input, textarea
    width 100%
    border 0
    border-bottom 1px solid $alto

  textarea
    height rem(150px)

  @media screen and (min-width: $screen-sm)
    .form-row
      margin ($margin * 2) 0

    .m-contact-email
      padding-left 50%
