.m-map
  position relative
  min-height 80vh
  background-color $bg-color-2
  color $font-color-2
  
#map
  min-height 60vh

#mapInput
  position relative
  z-index 1
  pointer-events none

  input
    pointer-events auto
    background-color transparent
    border 0
    border-bottom 2px solid $font-color-2

.leaflet-routing-container
  display none !important

.user-marker
  width 4px
  height 4px
  border-radius 100%
  background-color $bg-color-3
  box-shadow 0 0 0 5px rgba($bg-color-3, 0.5)

.viz-marker
  width 4px
  height 4px
  border-radius 100%
  background-color $bg-color-1

.m-map-locations
  position relative

  .m-map-location-item
    padding $margin

    &.is-highlighted
      background-color $bg-color-3

    p, h3
      margin 0

@media screen and (min-width: $screen-sm)
  .m-map
    max-height 800px
    
  .m-map-locations
    position absolute
    bottom $margin
    left 0
    width 100%
  
  #map
    position absolute
    top 0
    left 0
    width 100%
    height 100%