.m-message
  padding ($margin * 2) $margin
  text-align center
  color $font-color-3

  p
    font-size $font-large-size
    font-weight 500
    line-height 1

    @media screen and (min-width: $screen-sm)
      font-size $lg-font-large-size
