.m-message
  padding ($margin * 2) $margin
  text-align center
  color $font-color-3

  p
    font-size $font-large-size
    font-weight 500
    line-height 1
    margin $margin 0
    letter-spacing -0.02em

  a
    margin $margin auto
    display inline-block

  .btn
    display block

  @media screen and (min-width: $screen-sm)
    p
      font-size $lg-font-xlarge-size
    .btn
      display inline-block
