.ie
  @media screen and (min-width: $screen-sm)
    .m-message
      height rem(500px)
      min-height auto

.m-message
  padding ($margin * 2) $margin
  text-align center
  color $font-color-3

  p
    font-size $font-large-size
    font-weight 500
    line-height 1
    margin $margin 0
    letter-spacing -0.05em

  a
    margin $margin auto
    display inline-block

  .btn
    display block

  @media screen and (min-width: $screen-sm)
    display flex
    align-items center
    justify-content center
    min-height rem(500px)


    p
      font-size $lg-font-xlarge-size

    .btn
      display inline-block
