.m-post-card
  display flex
  align-items center
  //justify-content center

  margin-bottom $margin
  padding 0 $margin
  height 100vh

  border 14px solid $bg-color-3

  h1
    color $font-color-3
    font-size $font-xlarge-size
    margin 0 0 .3em

  h2
    font-size $lg-font-large-size
    line-height .9
    margin .5em 0

    @media screen and (max-width: 40rem)
      font-size $font-large-size
  a
    text-decoration none

  @media screen and (min-width: $screen-sm)
    max-height 80vh
    padding-left $margin * 5
    padding-right $margin * 5

    h1
      font-size rem(110px)

    h2
      font-size rem(60px)
