browser-icon($left = 0)
  position absolute
  display block
  content ""
  width 8px
  height 8px
  top 10px
  left $left
  border-radius 4px
  background-color #CECECE

$margin-bottom = $margin * 4

.is-project-detail-page

  .l-header
    position relative
    z-index 10

    .l-header-top
      background-color transparent

    .brand #vizzualityPath
      fill $white

    .btn-burguer
      .icon-burguer, .icon-burguer:before, .icon-burguer:after
        background-color $bg-color-1

  .l-main
    position relative
    margin-top rem(-90px)

// Header
.m-project-detail-header
  position relative
  display flex
  align-items center
  height 100vh
  padding 0 $margin
  color $font-color-2
  background-repeat none
  background-position center
  background-size cover

  h1
    margin-top 0.5rem
    margin-bottom .6em
    max-width 70%

  p
    margin-bottom 0
    padding-left .3rem
    font-size $font-medium-size

  @media screen and (min-width: $screen-sm)
    height 80vh
    align-items flex-end
    padding-bottom ($margin * 2)

  @media screen and (min-width: $screen-xl)
    h1
      font-size $lg-font-xlarge-size

// Content
.m-project-detail-content
  padding ($margin * 2) $margin

  h1, h2
    text-align center

  @media screen and (min-width: $screen-sm)
    .m-project-client-logo
      float right
      margin-top $margin
      margin-bottom $margin
      margin-left $margin * 2

// Footer with links
.m-project-detail-footer
  margin-bottom $margin-bottom

  .m-project-url, .m-project-post
    padding $margin 0

  .m-project-url
    background-color $bg-color-6

    .btn
      background-color transparent
      letter-spacing 0

  .m-project-post
    color $font-color-2
    text-align center
    background-color $bg-color-3

    h2
      margin .3em 0

    .btn, .btn-secondary
      display block
      margin .3em $margin

  @media screen and (min-width: $screen-sm)
    .m-project-post, .m-project-url
      min-height rem(250px)

      .btn, .btn-secondary
        padding 0
        border 0
        color $font-color-2
        font-size $lg-font-normal-size * 1.8
        text-transform none
        border-bottom 2px solid $font-color-2
        background-color transparent

    .m-project-post
      h2
        display none
      a
        margin-left auto
        margin-right auto


// Module articles left and right
.m-project-detail-article
  margin-bottom $margin-bottom

  &.is-right
    background-color $bg-color-8

  .btn, .btn-secondary
    display block

  .m-project-article-content
    padding $margin ($margin * 2)

  @media screen and (min-width: $screen-sm)
    .m-project-article-content
      .btn, .btn-secondary
        display inline-block

// Module blocks
.m-project-detail-blocks
  padding $margin
  margin-bottom $margin-bottom

  .thumb
    margin-top 1px
    max-height rem(200px)
    overflow hidden
    outline 1px solid rgba(0, 0, 0, .1)

    img
      width 100%
      height auto

    @media screen and (min-width: $screen-sm)
      max-height rem(260px)

// Module iframe
.m-project-detail-iframe
  margin $margin
  margin-bottom $margin-bottom

  h2
    text-align center

  .m-project-iframe
    position relative
    padding 27px 4px 4px 4px
    background-color #E4E4E4
    border-radius 4px

    &:before
      browser-icon(8px)

    &:after
      browser-icon(20px)

    .m-project-iframe-content:before
      browser-icon(32px)

    iframe
      width 100%
      height rem(420px)

  @media screen and (min-width: $screen-sm)
    .m-project-iframe iframe
      height rem(600px)

    p
      text-align center
      max-width 60%
      margin-left auto
      margin-right auto


// Module video
.m-project-detail-video
  padding ($margin * 3) $margin
  color $font-color-2
  background-color $bg-color-2

  h2
    margin-top 0

  iframe
    width 100%
    height rem(210px)

    @media screen and (min-width: $screen-sm)
      height rem(720px)

// Module opinions
.m-project-opinions
  padding ($margin * 4) 0
  background-color $bg-color-8

  .m-project-opinion-item
    margin-bottom $margin
    padding ($margin * 2)
    background-color $bg-color-1

  .m-project-opinion-photo
    text-align center
    margin-top 0

    img
      width auto
      max-height rem(50px)

  .m-project-opinion-text
    margin-top .3em
    font-size $font-medium-size
    text-align center

  .m-project-opinion-autor
    text-align center
    font-weight 500
    max-width 90%
    margin auto
    a
      text-decoration none

  @media screen and (min-width: $screen-sm)
    .row > div
      display flex
      justify-content stretch

    .m-project-opinion-item
      display flex
      align-items center
      margin-bottom 0

// Module next project
.m-project-detail-next
  position relative
  display flex
  align-items center
  justify-content center
  padding ($margin * 2) $margin

  color $font-color-2
  text-align center

  background-repeat no-repeat
  background-size cover
  background-position center

  overflow hidden

  h1
    margin 0 auto
    line-height 1.1
    max-width 70%

  p
    margin .3em 0
    text-transform uppercase
    font-weight 500
    letter-spacing 0.2em

  a
    color $font-color-2
    text-decoration none

  veil()

  @media screen and (min-width: $screen-sm)
    min-height rem(350px)
