browser-icon($left = 0)
  position absolute
  display block
  content ""
  width 8px
  height 8px
  top 10px
  left $left
  border-radius 4px
  background-color #CECECE

.is-project-detail-page

  .l-header
    position relative
    z-index 10

    .brand #Projects
      fill $white

    .btn-burguer
      .icon-burguer, .icon-burguer:before, .icon-burguer:after
        background-color $bg-color-1

  .l-main
    position relative
    margin-top rem(-90px)

.m-project-detail
  overflow hidden

  .m-project-header
    display flex
    position relative
    align-items center
    height 100vh
    color $font-color-2
    padding 0 $margin
    height 100vh
    background-repeat none
    background-position center
    background-size cover

    .is-project-detail-page &
      height 80vh
      align-items flex-end
      padding-bottom ($margin * 2)

    h1
      margin-top 0.5rem
      margin-bottom .6em

    p
      margin-bottom 0
      padding-left .3rem

  .m-project-content
    padding ($margin * 2) $margin

  .m-project-client-logo
    float right
    margin-top $margin
    margin-left $margin * 2

  .m-project-footer
    margin 0 -1%

  .m-project-url, .m-project-post
    padding $margin 0

  .m-project-url
    text-align center
    background-color $bg-color-6

    .btn
      background-color transparent

    @media screen and (min-width: $screen-sm)
      // padding-top $margin * 2
      // padding-bottom $margin * 2
      .btn
        text-transform none
        font-size $lg-font-normal-size

  .m-project-post
    // padding $margin
    color $font-color-2
    text-align center
    background-color $bg-color-3

    h2
      margin .3em $margin

    p
      font-size $font-large-size
      font-weight 500
      line-height 1
      margin-bottom 0

    a
      display inline-block
      margin 0 $margin

    @media screen and (min-width: $screen-sm)
      h2
        display none
      a
        margin-left auto
        margin-right auto

  @media screen and (min-width: $screen-sm)
    .m-project-footer
      margin 0

    .m-project-footer-content
      display flex

      .m-project-url, .m-project-post
        min-width 48%
        flex 1

        a
          font-size $lg-font-medium-size
          text-decoration underline
          margin 0
          padding ($margin * 4) 0

      .m-project-post a
        background-color transparent
        color $font-color-2
        border 0
        text-transform none

.m-project-article-left,
.m-project-article-right
  margin ($margin*2) 0

.m-project-article-right
  background-color $bg-color-5

.m-project-article-content
  display flex
  align-items center
  background-repeat no-repeat

  @media screen and (min-width: $screen-sm)
    max-height 80vh


.m-project-blocks
  .thumb
    overflow hidden
    outline 1px solid rgba(0, 0, 0, .1)
    img
      width 100%
      height auto

.m-project-detail-map,
.m-project-detail-video
  padding ($margin * 2) 0
  // min-height 100vh

.m-project-browser
  position relative
  padding 27px 4px 4px 4px
  background-color #E4E4E4
  border-radius 4px

  &:before
    browser-icon(8px)

  &:after
    browser-icon(20px)

.m-project-browser-content:before
    browser-icon(32px)

.m-project-detail-map
  h2
    text-align center

  iframe
    width 100%
    height rem(320px)

  @media screen and (min-width: $screen-sm)
    iframe
      height rem(550px)
    p
      max-width 50%
      margin-left auto
      margin-right auto

.m-project-detail-video
  color $font-color-2
  background-color $bg-color-2

  iframe
    width 100%
    margin ($margin/2) 0 $margin 0
    height rem(320px)

    @media screen and (min-width: $screen-sm)
      height rem(720px)

.m-next-project
  display flex
  position relative
  padding ($margin * 2) 0
  color $font-color-2
  text-align center
  overflow hidden
  align-items center
  justify-content center
  background-repeat no-repeat
  background-size cover
  background-position center

  & > .m-next-project-content
    width 100%

  h1
    margin 0

  p
    text-transform uppercase
    font-weight 500

  a
    color $font-color-2
    text-decoration none

  .veil
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .3)

  @media screen and (min-width: $screen-sm)
    min-height rem(350px)
