.m-project-grid
  list-style none
  margin 0 -1%
  padding 0

  li
    position relative
    display flex
    align-items center
    justify-content center
    height rem(300px)

    color $font-color-2
    text-align center

    background-color $bg-color-2
    background-repeat none
    background-position center
    background-size cover

  a
    color $font-color-2
    text-decoration none

  h2
    margin 0.3rem

  .client
    margin 0.3rem
    font-weight 500
    text-transform uppercase

  .m-project-grid-content
    position relative
    z-index 1

  .veil
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .3)


  @media screen and (min-width: $screen-sm)
    li
      float left
      width 33.333333%

    .is-grid-1
      width 33.333333%
    .is-grid-2
      width 66.666666%
    .is-grid-3
      width 100%
