.m-project
  display flex
  align-items center
  padding 0 $margin
  min-height 100vh

  color $font-color-2
  text-align center

  background-repeat none
  background-position center
  background-size cover

  h1 a
    color $font-color-2
    text-decoration none
    text-shadow 0 0 1px $font-color-1
