.m-team
  padding $margin

  h1
    margin-bottom 0

  .main-phrase
    font-size $font-xlarge-size
    line-height .95
    font-weight 500

    &:before
      display block
      content "“"
      color $font-color-3
      font-size rem(144px)
      line-height 1rem

  .photo
    border-radius 50%
    overflow hidden
    height 0
    width 100%
    padding-bottom 100%
    background-repeat none
    background-size cover
    background-position center

  .position
    margin-top 0

  footer a
    text-decoration none
    color $font-color-3
    font-weight 500
