.m-team-gallery
  padding 0
  list-style none
  clearfix()

  li
    display block
    float left
    width 33%

  a
    display block
    overflow hidden
    background-repeat none
    background-size cover
    background-position center
    padding-bottom 100%

  @media screen and (min-width: $screen-sm)
    li
      width 25%
