.m-team
  padding $margin

  h1
    margin-bottom 0

  .main-phrase
    font-size $font-xlarge-size
    line-height .95
    font-weight 500

    &:before
      display block
      content "“"
      color $font-color-3
      font-size rem(144px)
      line-height 1rem

  .position
    margin-top 0
