extends ../blog.jade

block main
  .row
    .grid-sm-14.grid-md-12.offset-md-1.grid-lg-8.offset-lg-2
      each post in [1, 2, 3, 4]
        article.m-post
          h1 New Launch! The Environmental Democracy Index is now live
          
          time.m-post-date 27th july
          
          p.m-post-image
            img(src="http://40.media.tumblr.com/37c39ca40041792c25d8f349bd9c109c/tumblr_inline_nonnpwKNGj1tn8nre_500.png")
          
          p Vizzuality is delighted to announce our latest tool: the Environmental Democracy Index! It was launched to the world with aplomb earlier today through a live web-stream by our friends at WRI and TAI. 

          p Vizzuality love working with open data; getting data in front of lots of people helps increase transparency, initiating discussions around tackling the biggest issues in the world today. The EDI website allows you to freely and easily analyse the data at all levels, comparing the situation within a country or between two or three different countries. You can then share your findings on Facebook or Twitter and can continue the conversation with your networks.

          p Getting the data out there is great but, to command the attention this important issue deserves, you need a fast, interactive and captivating application. The EDI contains a lot of data. We created an intelligent architecture that places the most important information up top, then reveals greater detail when you find a topic you want to analyse more deeply.

          p The application then needs a clean, simple design with plenty of interactivity and visual rewards to attract and engage viewers. By removing all the technological, design and access barriers, the EDI website makes the data truly transparent.

          p Daniel Caso led the design of the front end of this project, which was deployed expertly by David Inga, Clara Linos and Andres Gonzalez, while Alicia Arenzana worked on the data management side.
