<section class="m-message">
  <div class="row">
    <div class="grid-sm-14 grid-lg-12 offset-lg-1">
      <p>We're hiring.</p>
      <%= link_to 'Apply', 'http://vizzuality.github.io/job-offers/', class: 'btn' %>
    </div>
  </div>
</section>
