extends ../layout.jade

block claim
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      .m-claim
        article
          p Great user
            | experiences for
            | stories that matter
          a(class="btn-secondary is-sm-hidden is-anchor", href="#team") Our team
          a(class="btn is-sm-hidden is-anchor", href="#contact") Contact

block main
  .row#team
    .grid-sm-14.grid-lg-12.offset-lg-1
      ul.m-team-gallery
        for member in team
          li
            .veil
            a(href="/about/#{member.slug}", style="background-image: url(/assets/images/team/#{member.photo})")
              img.is-hidden(src="/assets/images/team/#{member.photo}", alt=member.name)

  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      section.m-message
        p We are hiring
        a(href="#", class="btn") Apply

  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      section.m-clients
        ul
          li: img(src="/assets/images/clients/client-1.png")
          li: img(src="/assets/images/clients/client-2.png")
          li: img(src="/assets/images/clients/client-3.png")
          li: img(src="/assets/images/clients/client-4.png")

  .row#contact
    .grid-sm-14.grid-lg-12.offset-lg-1
      section.m-contact
        h1 Get in touch.
        p Dear vizzuality,
        form#contactForm(action="/contact", method="post", autocomplete="off")
          .form-row
            textarea(name="message", placeholder="Message", required)
          .form-row.m-contact-email
            p Cheers,
            input(name="email", type="email", placeholder="Contact email", required)
          .form-row.m-contact-submit
            button(type="submit", class="btn") Send
