a{color:#6BB02E}
a:hover{text-decoration:underline}
a.post-link:hover {text-decoration:underline}
a.main_title:hover {text-decoration:none}
ul.header {padding:30px 0 0 0}
ul.header li {background:url(http://vizzuality.s3.amazonaws.com/blogImages/separator.png) no-repeat right -1px; padding:0 12px 0 6px; margin:0}
ul.header li.last {background:none; padding:0 0 0 5px}

ul.header li a {font:normal 13px Arial; color:#333333; text-transform:capitalize; padding:0; margin:0}
ul.header li a:hover {color:white; text-decoration:underline}
ul.header li a.selected {color:white; text-decoration:underline; cursor:default; padding:0; margin:0}

.reblog_button, .like_button {
  float: left;
  margin-right: 10px;
}
