doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Vizzuality
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/assets/styles/main.css")
  body(class=className)
    header.l-header
      .row
        .grid-sm-14.grid-md-7.grid-lg-6.offset-lg-1
          h1.brand
            a(href='/')
              svg(width='128px', height='30px', viewbox='0 0 128 30', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
                g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                  g#Projects(sketch:type='MSArtboardGroup', transform='translate(-100.000000, -50.000000)', fill='#64D1B8')
                    g#Group(sketch:type='MSLayerGroup', transform='translate(100.000000, 50.000000)')
                      g(id='vizzuality.', sketch:type='MSShapeGroup')
                        path(d='M15.444,7.5 L11.319,7.5 L7.953,18.852 L4.521,7.5 L0.429,7.5 L5.775,24 L9.999,24 L15.444,7.5 Z M20.5727499,4.926 L20.5727499,0.933 L16.6457499,0.933 L16.6457499,4.926 L20.5727499,4.926 Z M20.5727499,24 L20.5727499,7.5 L16.6457499,7.5 L16.6457499,24 L20.5727499,24 Z M36.5914998,24 L36.5914998,20.502 L27.8794998,20.502 L36.5914998,10.569 L36.5914998,7.5 L23.3584998,7.5 L23.3584998,11.031 L31.3774998,11.031 L22.4674998,20.964 L22.4674998,24 L36.5914998,24 Z M51.7852497,24 L51.7852497,20.502 L43.0732497,20.502 L51.7852497,10.569 L51.7852497,7.5 L38.5522497,7.5 L38.5522497,11.031 L46.5712497,11.031 L37.6612497,20.964 L37.6612497,24 L51.7852497,24 Z M68.8929996,24 L68.8929996,7.5 L64.9329996,7.5 L64.9329996,14.859 C64.9329996,16.113 64.8999996,17.664 64.3059996,18.819 C64.0089996,19.413 63.0189996,20.667 61.1049996,20.667 C58.2669996,20.667 57.8709996,18.588 57.8709996,17.004 L57.8709996,7.5 L53.8779996,7.5 L53.8779996,17.862 C53.8779996,19.38 53.9439996,20.898 54.8349996,22.218 C55.4949996,23.208 56.8479996,24.396 59.5869996,24.396 C62.4579996,24.396 64.1079996,23.076 64.9329996,22.317 L64.9329996,24 L68.8929996,24 Z M86.2647495,24 C85.6047495,22.944 85.5387495,22.581 85.5387495,21.327 L85.5387495,11.691 C85.5387495,8.787 83.4597495,7.005 78.6087495,7.005 C71.6787495,7.005 71.4477495,11.229 71.3817495,12.318 L75.4077495,12.549 C75.4077495,11.691 75.7377495,10.074 78.7407495,10.074 C81.2157495,10.074 81.5787495,11.295 81.5787495,12.549 C80.5227495,12.912 78.9717495,13.308 76.4967495,13.77 C73.3617495,14.331 70.6227495,15.75 70.6227495,19.347 C70.6227495,22.119 72.8667495,24.396 76.6287495,24.396 C78.6417495,24.396 80.3907495,23.571 81.4797495,22.713 L81.5787495,24 L86.2647495,24 Z M81.5787495,17.994 C81.5787495,20.073 79.3347495,20.997 77.5197495,20.997 C75.5397495,20.997 74.8137495,20.073 74.8137495,18.984 C74.8137495,17.334 76.6287495,16.971 78.4437495,16.707 C79.9617495,16.476 80.9187495,16.113 81.5787495,15.783 L81.5787495,17.994 Z M92.5154994,24 L92.5154994,0.702 L88.4894994,0.702 L88.4894994,24 L92.5154994,24 Z M99.3602493,4.926 L99.3602493,0.933 L95.4332493,0.933 L95.4332493,4.926 L99.3602493,4.926 Z M110.263999,9.22794226 L110.263999,10.305 L106.732999,10.305 L106.732999,18.489 C106.732999,19.116 106.765999,19.842 107.128999,20.238 C107.590999,20.733 108.448999,20.733 108.613999,20.733 C109.174999,20.733 109.768999,20.667 110.263999,20.535 L110.263999,23.868 C109.735999,23.934 108.778999,24.132 107.425999,24.132 C103.894999,24.132 102.772999,22.845 102.772999,20.139 L102.772999,10.305 L100.363999,10.305 L100.363999,7.5 L102.772999,7.5 L102.772999,1.626 L106.732999,1.626 L106.732999,7.5 L109.957374,7.5 L113.907749,7.5 L117.603749,19.809 L120.705749,7.5 L124.764749,7.5 L120.375749,22.548 C119.781749,24.627 118.956749,27.564 117.570749,28.686 C116.547749,29.511 115.491749,29.676 114.204749,29.676 C112.950749,29.676 112.488749,29.577 111.861749,29.445 L111.861749,26.013 C112.257749,26.079 112.620749,26.079 112.950749,26.079 C115.128749,26.079 115.491749,24.759 115.623749,24.33 L110.263999,9.22794226 Z M99.3602493,24 L99.3602493,7.5 L95.4332493,7.5 L95.4332493,24 L99.3602493,24 Z M127.979499,24 L127.979499,19.479 L123.623499,19.479 L123.623499,24 L127.979499,24 Z')
          button#burgerLink.btn-burguer.is-md-hidden.is-lg-hidden
            span.icon-burguer

        .grid-sm-14.grid-md-7.grid-lg-6.is-sm-hidden
          nav.m-nav
            a(href='/') projects
            a(href='/about') about
      block claim
    .l-main
      block main

    footer.l-footer
      .row
        .grid-sm-14.grid-md-7.grid-lg-6.offset-lg-1
          a.footer-logo(href='/')
            svg(width='128px', height='30px', viewbox='0 0 128 30', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
              g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                g#Projects(sketch:type='MSArtboardGroup', transform='translate(-100.000000, -50.000000)', fill='#ffffff')
                  g#Group(sketch:type='MSLayerGroup', transform='translate(100.000000, 50.000000)')
                    g(id='vizzuality.', sketch:type='MSShapeGroup')
                      path(d='M15.444,7.5 L11.319,7.5 L7.953,18.852 L4.521,7.5 L0.429,7.5 L5.775,24 L9.999,24 L15.444,7.5 Z M20.5727499,4.926 L20.5727499,0.933 L16.6457499,0.933 L16.6457499,4.926 L20.5727499,4.926 Z M20.5727499,24 L20.5727499,7.5 L16.6457499,7.5 L16.6457499,24 L20.5727499,24 Z M36.5914998,24 L36.5914998,20.502 L27.8794998,20.502 L36.5914998,10.569 L36.5914998,7.5 L23.3584998,7.5 L23.3584998,11.031 L31.3774998,11.031 L22.4674998,20.964 L22.4674998,24 L36.5914998,24 Z M51.7852497,24 L51.7852497,20.502 L43.0732497,20.502 L51.7852497,10.569 L51.7852497,7.5 L38.5522497,7.5 L38.5522497,11.031 L46.5712497,11.031 L37.6612497,20.964 L37.6612497,24 L51.7852497,24 Z M68.8929996,24 L68.8929996,7.5 L64.9329996,7.5 L64.9329996,14.859 C64.9329996,16.113 64.8999996,17.664 64.3059996,18.819 C64.0089996,19.413 63.0189996,20.667 61.1049996,20.667 C58.2669996,20.667 57.8709996,18.588 57.8709996,17.004 L57.8709996,7.5 L53.8779996,7.5 L53.8779996,17.862 C53.8779996,19.38 53.9439996,20.898 54.8349996,22.218 C55.4949996,23.208 56.8479996,24.396 59.5869996,24.396 C62.4579996,24.396 64.1079996,23.076 64.9329996,22.317 L64.9329996,24 L68.8929996,24 Z M86.2647495,24 C85.6047495,22.944 85.5387495,22.581 85.5387495,21.327 L85.5387495,11.691 C85.5387495,8.787 83.4597495,7.005 78.6087495,7.005 C71.6787495,7.005 71.4477495,11.229 71.3817495,12.318 L75.4077495,12.549 C75.4077495,11.691 75.7377495,10.074 78.7407495,10.074 C81.2157495,10.074 81.5787495,11.295 81.5787495,12.549 C80.5227495,12.912 78.9717495,13.308 76.4967495,13.77 C73.3617495,14.331 70.6227495,15.75 70.6227495,19.347 C70.6227495,22.119 72.8667495,24.396 76.6287495,24.396 C78.6417495,24.396 80.3907495,23.571 81.4797495,22.713 L81.5787495,24 L86.2647495,24 Z M81.5787495,17.994 C81.5787495,20.073 79.3347495,20.997 77.5197495,20.997 C75.5397495,20.997 74.8137495,20.073 74.8137495,18.984 C74.8137495,17.334 76.6287495,16.971 78.4437495,16.707 C79.9617495,16.476 80.9187495,16.113 81.5787495,15.783 L81.5787495,17.994 Z M92.5154994,24 L92.5154994,0.702 L88.4894994,0.702 L88.4894994,24 L92.5154994,24 Z M99.3602493,4.926 L99.3602493,0.933 L95.4332493,0.933 L95.4332493,4.926 L99.3602493,4.926 Z M110.263999,9.22794226 L110.263999,10.305 L106.732999,10.305 L106.732999,18.489 C106.732999,19.116 106.765999,19.842 107.128999,20.238 C107.590999,20.733 108.448999,20.733 108.613999,20.733 C109.174999,20.733 109.768999,20.667 110.263999,20.535 L110.263999,23.868 C109.735999,23.934 108.778999,24.132 107.425999,24.132 C103.894999,24.132 102.772999,22.845 102.772999,20.139 L102.772999,10.305 L100.363999,10.305 L100.363999,7.5 L102.772999,7.5 L102.772999,1.626 L106.732999,1.626 L106.732999,7.5 L109.957374,7.5 L113.907749,7.5 L117.603749,19.809 L120.705749,7.5 L124.764749,7.5 L120.375749,22.548 C119.781749,24.627 118.956749,27.564 117.570749,28.686 C116.547749,29.511 115.491749,29.676 114.204749,29.676 C112.950749,29.676 112.488749,29.577 111.861749,29.445 L111.861749,26.013 C112.257749,26.079 112.620749,26.079 112.950749,26.079 C115.128749,26.079 115.491749,24.759 115.623749,24.33 L110.263999,9.22794226 Z M99.3602493,24 L99.3602493,7.5 L95.4332493,7.5 L95.4332493,24 L99.3602493,24 Z M127.979499,24 L127.979499,19.479 L123.623499,19.479 L123.623499,24 L127.979499,24 Z')

        .grid-sm-14.grid-md-7.grid-lg-6
          ul.m-social
            li
              a(href='https://twitter.com/vizzuality') twitter
            li
              a(href='https://www.facebook.com/pages/Vizzuality/90598685666') facebook
            li
              a(href='https://github.com/Vizzuality') github
            li
              a(href='http://blog.vizzuality.com/') blog

    #mobileNav.m-mobile-nav.is-sm-hidden.is-md-hidden.is-lg-hidden
      button#mobileNavClose.btn-close &times;
      h1
        svg(width='128px', height='30px', viewbox='0 0 128 30', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
              g#Projects(sketch:type='MSArtboardGroup', transform='translate(-100.000000, -50.000000)', fill='#222222')
                g#Group(sketch:type='MSLayerGroup', transform='translate(100.000000, 50.000000)')
                  g(id='vizzuality.', sketch:type='MSShapeGroup')
                    path(d='M15.444,7.5 L11.319,7.5 L7.953,18.852 L4.521,7.5 L0.429,7.5 L5.775,24 L9.999,24 L15.444,7.5 Z M20.5727499,4.926 L20.5727499,0.933 L16.6457499,0.933 L16.6457499,4.926 L20.5727499,4.926 Z M20.5727499,24 L20.5727499,7.5 L16.6457499,7.5 L16.6457499,24 L20.5727499,24 Z M36.5914998,24 L36.5914998,20.502 L27.8794998,20.502 L36.5914998,10.569 L36.5914998,7.5 L23.3584998,7.5 L23.3584998,11.031 L31.3774998,11.031 L22.4674998,20.964 L22.4674998,24 L36.5914998,24 Z M51.7852497,24 L51.7852497,20.502 L43.0732497,20.502 L51.7852497,10.569 L51.7852497,7.5 L38.5522497,7.5 L38.5522497,11.031 L46.5712497,11.031 L37.6612497,20.964 L37.6612497,24 L51.7852497,24 Z M68.8929996,24 L68.8929996,7.5 L64.9329996,7.5 L64.9329996,14.859 C64.9329996,16.113 64.8999996,17.664 64.3059996,18.819 C64.0089996,19.413 63.0189996,20.667 61.1049996,20.667 C58.2669996,20.667 57.8709996,18.588 57.8709996,17.004 L57.8709996,7.5 L53.8779996,7.5 L53.8779996,17.862 C53.8779996,19.38 53.9439996,20.898 54.8349996,22.218 C55.4949996,23.208 56.8479996,24.396 59.5869996,24.396 C62.4579996,24.396 64.1079996,23.076 64.9329996,22.317 L64.9329996,24 L68.8929996,24 Z M86.2647495,24 C85.6047495,22.944 85.5387495,22.581 85.5387495,21.327 L85.5387495,11.691 C85.5387495,8.787 83.4597495,7.005 78.6087495,7.005 C71.6787495,7.005 71.4477495,11.229 71.3817495,12.318 L75.4077495,12.549 C75.4077495,11.691 75.7377495,10.074 78.7407495,10.074 C81.2157495,10.074 81.5787495,11.295 81.5787495,12.549 C80.5227495,12.912 78.9717495,13.308 76.4967495,13.77 C73.3617495,14.331 70.6227495,15.75 70.6227495,19.347 C70.6227495,22.119 72.8667495,24.396 76.6287495,24.396 C78.6417495,24.396 80.3907495,23.571 81.4797495,22.713 L81.5787495,24 L86.2647495,24 Z M81.5787495,17.994 C81.5787495,20.073 79.3347495,20.997 77.5197495,20.997 C75.5397495,20.997 74.8137495,20.073 74.8137495,18.984 C74.8137495,17.334 76.6287495,16.971 78.4437495,16.707 C79.9617495,16.476 80.9187495,16.113 81.5787495,15.783 L81.5787495,17.994 Z M92.5154994,24 L92.5154994,0.702 L88.4894994,0.702 L88.4894994,24 L92.5154994,24 Z M99.3602493,4.926 L99.3602493,0.933 L95.4332493,0.933 L95.4332493,4.926 L99.3602493,4.926 Z M110.263999,9.22794226 L110.263999,10.305 L106.732999,10.305 L106.732999,18.489 C106.732999,19.116 106.765999,19.842 107.128999,20.238 C107.590999,20.733 108.448999,20.733 108.613999,20.733 C109.174999,20.733 109.768999,20.667 110.263999,20.535 L110.263999,23.868 C109.735999,23.934 108.778999,24.132 107.425999,24.132 C103.894999,24.132 102.772999,22.845 102.772999,20.139 L102.772999,10.305 L100.363999,10.305 L100.363999,7.5 L102.772999,7.5 L102.772999,1.626 L106.732999,1.626 L106.732999,7.5 L109.957374,7.5 L113.907749,7.5 L117.603749,19.809 L120.705749,7.5 L124.764749,7.5 L120.375749,22.548 C119.781749,24.627 118.956749,27.564 117.570749,28.686 C116.547749,29.511 115.491749,29.676 114.204749,29.676 C112.950749,29.676 112.488749,29.577 111.861749,29.445 L111.861749,26.013 C112.257749,26.079 112.620749,26.079 112.950749,26.079 C115.128749,26.079 115.491749,24.759 115.623749,24.33 L110.263999,9.22794226 Z M99.3602493,24 L99.3602493,7.5 L95.4332493,7.5 L95.4332493,24 L99.3602493,24 Z M127.979499,24 L127.979499,19.479 L123.623499,19.479 L123.623499,24 L127.979499,24 Z')
      .grid-sm-14.grid-md-7.grid-lg-6
        nav
          a(href='/') projects
          a(href='/about') about

    script(src="/assets/scripts/main.js")
