doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Vizzuality
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")
    if 'production' == process.env.NODE_ENV
      link(rel="stylesheet", href="/assets/styles/main.css")
    else
      link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
      link(rel="stylesheet", href="/assets/lib/leaflet-routing-machine/leaflet-routing-machine.css")
      link(rel="stylesheet", href="/assets/styles/main.css")
  body(class=className)
    header.l-header#header
      .l-header-top
        .row
          .grid-sm-14.grid-md-7.grid-lg-6.offset-lg-1
            h1.brand
              a(href='/')
                include partials/logo
            button#burgerLink.btn-burguer.is-md-hidden.is-lg-hidden
              span.icon-burguer

          .grid-sm-14.grid-md-7.grid-lg-6.is-sm-hidden
            nav.m-nav
              a(href='/', class= className == 'is-project-page' || className == 'is-project-detail-page' ? 'is-current' : null) Projects
              a(href='/about', class= className == 'is-about-page' || className == 'is-team-page' ? 'is-current' : null) About
      block claim

    .l-main
      block main

    footer.l-footer
      .row
        .grid-sm-14.grid-md-3.grid-lg-3.offset-lg-1
          a.footer-logo(href='/')
            include partials/logo

        .grid-sm-14.grid-md-11.grid-lg-9
          ul.m-social
            li
              a(href='#all-projects', id="allProjectsLink") All projects
            li
              a(href='https://twitter.com/vizzuality') Twitter
            li
              a(href='https://github.com/Vizzuality') Github
            li
              a(href='/about#contact') Contact
            li
              a(href='/blog') Blog

    #mobileNav.m-mobile-nav.is-sm-hidden.is-md-hidden.is-lg-hidden
      button#mobileNavClose.btn-close &times;
      h1
        include partials/logo
      .grid-sm-14.grid-md-7.grid-lg-6
        nav
          a(href='/', class= className == 'is-project-page' || className == 'is-project-detail-page' ? 'is-current' : null) projects
          a(href='/about', class= className == 'is-about-page' || className == 'is-team-page' ? 'is-current' : null) about
          a(href='/about#contact') contact
    
    #projectsModal.m-modal.is-hidden
      .m-modal-content
        button#closeModal.btn-close &times;
        .row
          .grid-sm-14.grid-md-14.grid-lg-14
            #contentModal
              
    
    script(src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")
    if 'production' != process.env.NODE_ENV
      script(src="/assets/lib/leaflet-routing-machine/leaflet-routing-machine.js")
      script(src="/assets/lib/t.js")
    script(src="/assets/scripts/main.js")
    script(src="//cdn.optimizely.com/js/543960191.js")
